<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>PRUEBA</title>
</head>
<body style="background-color:powderblue;">

<center><h1 style="background-color:DodgerBlue;">UNIVERSIDAD NACIONAL DE CHIMBORAZO</h1><center>
<center><h1>FACULTAD DE INGENIERÍA</h1><center>
<center><h1>CARRERA DE ELECTRÓNICA Y TELECOMUNICACIONES</h1><center>
<center><h1>DISPOSITIVOS EMBEBIDOS</h1><center>
<center><h1>BRYAN POAQUIZA</h1><center>
<center><h1>MONITOREO SENSOR</h1><center>

<center><img src="/static/images/sensor.png" alt="user"><center>
<h1>Sensor:</h1><h1 id="sensor">--</h1>
<!-- <h1>Registro de sensor: </h1> -->
<h1>Historial de Sensor:</h1><h1 id="estado">__</h1>
<!-- <img src="/static/images/led_off.png" alt="user" width="100! id="estado"> -->

<h1></h1>


<button id = 'LED1On'type="button" onclick="LED1_On();">
HISTORIAL</button>

<!-- <button id = 'LED1Off' type="button" onclick="LED1_Off();"> -->
<!-- LED1_OFF!</button> -->

<script>

<!-- function LED1_On() { -->
	<!-- alert("led on"); -->
	<!-- console.log("led on"); -->
  
<!-- } -->
<!-- function LED1_Off(){ -->
	<!-- alert("led off"); -->
	<!-- console.log("led off"); -->
<!-- } -->

</script>
</body>
</html>
